/* 公用代码 */
*{
    box-sizing: border-box;
    margin:0px;
}
.clearfix::after{
    content:'';
    display: block;
    clear:both;
}
.center{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.h-center{
    position: absolute;
    left:50%;
    transform:translate(-50%);
}


.contains{
    width: 100%;
    height: 100vh;
    min-width: 400px;
    min-height: 600px;
    background-color: #e6a9a2;
    position:relative;
}

.contains .main{
}
.contains .main .cap{
    
}
.cap .cap-head{
    position: relative;
}
.cap .cap-head .cap-top{
    background-color: #c7606c;
    height:180px;
    width:268px;
    position: relative;
    left:50%;
    transform:translate(-50%);
    border: 4px solid black;
    border-radius: 50% 50% 50% 50%;
    position: relative;
    overflow: hidden;
}


.cap .cap-head .cap-top .cap-tie{
    position:absolute;
    top:16px;
    left:-8px;
    background-color: #fff;
    height:180px;
    width:280px;
    border: 4px solid black;
    border-radius: 50% 50% 50% 50%;
}
.cap .cap-head .cap-top .tie-bottom{
    top:38px;
    left:-16px;
    width:300px;
    background-color: #c7606c;
}

/* 花 */
.cap .cap-head .hua{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #fff;
    border: 4px solid black;
    top:-15px;
    left:50%;
    transform: translate(-50%);
    border-radius:50%;
    z-index: 3;
}
.cap .cap-head .hua .stamen{
    width: 24px;
    height: 24px;
    background-color: black;
    border-radius: 50%;
}
.cap .cap-head .hua-side{
    position:absolute;
    width: 100%;
    top:67px;
    display: flex;
    justify-content:center;
}
.cap .cap-head .hua-side>div{
    border:4px solid black;
    width:48px;
    height: 30px;
    border-radius:30%/50%; 
    background-color: #fff;
}
.cap .cap-head .hua-side .side-left{
    transform:rotate(-45deg);
}
.cap .cap-head .hua-side .side-right{
    transform:rotate(45deg);
}

/* 鹿角 */
.cap-head .antler{
    width:400px;
    height: 200px;
    border:1px solid red;
    top:10px;
    display: flex;
    justify-content:space-between;
}
.cap-head .antler .antler-root{
    /* width:27px;
    height: 64px;
    border:4px solid black;
     */
}

/* 耳朵 */
.cap-head .ear{
    width: 320px;
    top:83px;
    display: flex;
    justify-content:space-between;
    z-index: 4;
}
.ear>div{
    border:6px solid black;
    width:70px;
    height: 62px;
    transform:rotate(8deg) scale(.7);
    background-color: #eecb8c;
    border-top-left-radius: 20% 40%;
    border-top-right-radius: 100% 40%;
    overflow: hidden;
}
.ear>div.ear-right{
    transform:rotate(-8deg) scale(.7);
    border-top-left-radius: 100% 40%;
    border-top-right-radius: 20% 40%;
}
.ear>div .earhole{
    width:40px;
    height: 60px;
    border-radius:50%;
    transform: rotate(-59deg);
    border:4px solid black;
    background-color: #503949;
    position: absolute;
    top:11px;
    left: -8px;
}
.ear>div .earhole::after{
    content:'';
    display: block;
    border:4px solid black;
    width:20px;
    height: 50px;
    border-bottom-right-radius: 50% 50%;
    position: absolute;
    top:-3px;
    left:-9px;
    transform: rotate(28deg);
    background-color: #eecb8c;
    border-top:none;
}
.ear>div.ear-right .earhole{
    top:11px;
    left:32px;
    transform: rotate(59deg);
}
.ear>div.ear-right .earhole::after{
    border-bottom-right-radius: 50% 50%;
    top:-3px;
    left:9px;
    transform: rotate(-28deg);
}

/* 帽檐 */
.cap .cap-head .bongrace{
    margin-top:-90px;
    position: relative;
    z-index: 4;
    width:352px;
    height: 262px;
    position: relative;
    overflow: hidden;
}
.bongrace .bongrace-top{
    width:500px;
    height: 400px;
    border:4px solid black;
    border-radius:50%;
    overflow: hidden;

}
.bongrace .bongrace-bottom{
    width: 352px;
    height: 200px;
    margin-top: -5px;
    border:4px solid black;  
    background-color: #c7606c;
    overflow: hidden; 
    border-radius: 10% 10% 50% 50%; 
}
.bongrace .bongrace-top-n{
    width: 380px;
    height:360px;
    margin-top:41px;
    border:4px solid black;
    border-radius: 50%;
    background-color:#9d4357;
}
.bongrace .bongrace-top-n::after{
    content:'';
    display: block;
    width:380px;
    height: 200px;
    background-color: #c7606c;
    margin-top: 64px;
}

/* face */
.cap .cap-head .face{
    /* height: 170px; */
    width: 240px;
    z-index: 6;
    margin-top:59px;
    overflow: hidden;
}
.face .face-back .back-top{
    width: 230px;
    margin:0 auto;
    height:116px;
    border: 4px solid black;
    border-radius: 50%;
    background-color: #eecb8c;
}
.face .face-back .back-top::after{
    content:'';
    display: block;
    width: 120%;
    left: -20px;
    height: 54px;
    background-color: #c7606c;
    top: 52px;
    position:absolute;
}
.face .face-back .back-left{
    width: 120px;
    height: 80px;
    position:absolute;
    border-left:4px solid black;
    top:49px;
    left:19px;
    background-color: #eecb8c;
    transform: skew(20deg);
    z-index: 2;
    border-radius: 5px;
}
.face .face-back .back-right{
    width: 120px;
    height: 80px;
    position:absolute;
    border-right:4px solid black;
    top:49px;
    right:19px;
    background-color: #eecb8c;
    transform: skew(-20deg);
    z-index: 2;
    border-radius: 5px;
}
.face .face-back .back-bottom{
    width: 176px;
    height: 90px;
    border:4px solid black;
    border-radius: 50%;
    margin-top:-42px;
    background-color: #eecb8c;
}

.face .face-organs{
    margin-left: auto;
    margin-right: auto;
    width:180px;
    height: 160px;
    z-index: 8;
    position: relative;
    margin-top:-106px;
    overflow: hidden;
}

.face .face-organs>div{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}
.face .face-organs .eyebrow{
    margin-top: 4px;
}
.face .face-organs .eyebrow>div{
    width:50px;
    height: 4px;
    background-color: black;
    border-radius: 2px;
}
.face .face-organs .eyebrow .eyebrow-left{
    margin-right: 24px;
    transform: rotate(30deg);
}
.face .face-organs .eyebrow .eyebrow-right{
    margin-left: 24px;
    transform: rotate(-30deg);
}
.face .face-organs .eye{
    margin-top:16px;
}
.face .face-organs .eye>div{
    width: 60px;
    height: 60px;
    border: 4px solid black;
    background-color: white;
    border-radius: 50%;
}
.face .face-organs .eye>div .eyeball{
    width: 36px;
    height: 36px;
    background-color: black;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top:8px;
}
.face .face-organs .eye-left{
    margin-right: 28px;
}
.face .face-organs .eye-right{
    margin-left: 28px;
}
.face .face-organs .eat{
    width:64px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top:-18px;
}
.face .face-organs .eat .shade{
    width:54px;
    height: 30px;
    border-radius: 50%;
    background-color: #d1ad78;
}
.face .face-organs .eat .shade::after{
    content:'';
    display:block;
    width:66px;
    height:30px;
    margin-top:5px;
    margin-left: -5px;
    border-radius: 50%;
    background-color: #eecb8c;
}
.face .face-organs .eat .nose{
    width:32px;
    height: 14px;
    border:4px solid black;
    border-bottom-right-radius:50% 100%;
    border-bottom-left-radius:50% 100%;
    background-color: #396a99;
    margin-top:-16px;
}
.face .face-organs .eat .nose-lip{
    height: 14px;
    width: 5px;
    background-color: black;
    margin:-4px 20px;
}
.face .face-organs .eat .lip-top{
    display: flex;
    justify-content: center;
    position: relative;
}
.face .face-organs .eat .lip-top>div{
    width:30px;
    height: 14px;
    border:4px solid black;
    border-bottom-right-radius:50% 100%;
    border-bottom-left-radius:50% 100%;
    border-top:none;
    background-color: #eecb8c;
}
.face .face-organs .eat .lip-top-left{
    margin-right: -3px;
}
.face .face-organs .eat .lip-bottom{
    width:24px;
    height: 20px;
    border:4px solid black;
    background-color: #f05e0c;
    border-bottom-right-radius:50% 40%;
    border-bottom-left-radius:50% 40%;
    margin-top:-10px;
}

.cap .limbs{
    width:340px;
    height: 200px;
    border:1px solid green;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    margin-top:-70px;
}
.cap .limbs .limbs-body{
    border:5px solid black;
    width:219px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius:50%;
    background-color: #eecb8c;
    position: relative;
}
.cap .limbs .limbs-body::after{
    content:'';
    display:block;
    width: 300px;
    height: 100px;
    position:absolute;
    top: 132px;
    left:-30px;
    background-color: #e6a9a2;
}
.limbs .limbs-body .collar{
    width:200px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    z-index: 4;
}
.limbs .limbs-body .collar .neck{
    width:110px;
    height: 100px;
    background-color: #0c0603;
    border: 4px solid black;
    border-radius: 50%;
    margin-top:-42px;
}
.limbs .limbs-body .collar .neck .nei{
    width:86px;
    height: 70px;
    background-color: #eecb8c;
    border:4px solid black;
    position: relative;
    border-radius: 50%;
}
.limbs .limbs-body .collar .neck-link{
    width:22px;
    height: 30px;
    margin-left: 54px;
    margin-right: 50px;
    position: absolute;
    top:48px;
    transform: skew(-18deg);
    background-color: #0c0603;
}
.limbs .limbs-body .collar .bead{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #146ca9;
    border:5px solid black;
    border-radius: 50%;
    top:65px;
}
.limbs .limbs-body .collar .bead .bead-nei{
    width:38px;
    height: 38px;
    margin-left: -2px;
    margin-top: -2px;
    background-color: #146ca9;
    border:4px solid black;
    border-radius: 50%;
}
.collar .bead .bead-nei .highlight{
    height: 23px;
    width: 23px;
    background-color: rgba(255,255,255,.4);
    border-radius: 50%;
}
.limbs .limbs-body .pants{
    width:222px;
    height: 100px;
    border:5px solid black;
    border-radius: 50%;
    top:94px;
    background-color: #733847;
}
.limbs .limbs-body .arse{
    display: flex;
    justify-content: center;
    margin-top: 130px;
    width: 300px;
    position: relative;
    z-index: 2;
}
.limbs .limbs-body .arse>div{
    width:121px;
    height: 45px;
    border:5px solid black;
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    background-color: #733847;
}
.limbs .limbs-body .arse .arse-left{
    margin-right: -12px;
}
.limbs .limbs-body .arse .arse-right{
    margin-left: -12px;
}
.limbs .limbs-body .arse::after{
    content:'';
    display: block;
    width:208px;
    position: absolute;
    height: 36px;
    background-color: #733847;
    border-radius: 50%;
    top:-13px;
}